package page

import "github.com/david-daxzbr/english-app/views/layout"

templ Home(title string) {
	@layout.Base("home"){
    <div class="w-full h-screen">
      <div>Dinamically content goes here!</div>    
    </div>
  }
}

